---
title: Accrue Badges by Purchasing Meta Verification
date: 2024-06-25T14:46:28.622Z
updated: 2024-06-26T14:46:28.622Z
tags:
  - facebook
categories:
  - meta
  - facebook
description: This Article Describes Accrue Badges by Purchasing Meta Verification
excerpt: This Article Describes Accrue Badges by Purchasing Meta Verification
keywords: Buy MetaVerified Badges,Acquire MetaBadges,Verify Metabadges,Purchase MetaBadge,Get MetaBadge Auth,MetaBadge Purchase Hint,Obtain MetaBadge
thumbnail: https://thmb.techidaily.com/57a65c2b181c750fb6364283d0997e4f78e21ce130fdd9928a29e2fa7b69ddd1.jpg
---

## Accrue Badges by Purchasing Meta Verification

 Taking inspiration from Twitter, Meta has announced plans to introduce a paid subscription that comes with a verification badge. But the initial rollout will be limited to a few countries.

## Zuckerberg Announces Meta Verified Paid Badge

 Meta CEO Mark Zuckerberg announced the new product in posts on his Facebook page and Instagram broadcast channel on 19 February 2023\. This followed earlier reports about a potential new paid verification plan, with screenshots shared by social media consultant Matt Navarra on Twitter.

 A few hours later Zuckerberg confirmed the news. The Meta Verified subscription service will start at $11.99 per month on the web and $14.99 per month on iOS. Rollout will begin in Australia and New Zealand in the coming week.

 Users will verify their accounts using a government ID. In return for that and the subscription fee, they'll get a blue badge, "extra impersonation protection", and direct access to customer support.

 According to Zuckerberg, "This new feature is about increasing authenticity and security across our services."

 In screenshots shared by Navarra, features of Meta Verified on Instagram appear to also include prioritization in comments, recommendations in the Explore feed and Reels tab, and exclusive Story stickers. However, these features were not mentioned in the announcement by Zuckerberg and may arrive at a later date.

 The [new Twitter Blue](https://www.makeuseof.com/what-is-twitter-blue/) , which seems to have inspired this product launch by Meta, has proven controversial for its inclusion of paid-for verification. But this hasn't stopped Meta from following Twitter's lead.

## Paid Blue Badges for Meta Products

 Twitter's paid verification seems to be trend-setting, with Meta following suit with its own subscription-linked blue badge. But we'll have to see if users take it up or reject this type of monetization.


<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>



<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="8358498916"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>

<span class="atpl-alsoreadstyle">Also read:</span>
<div><ul>
<li><a href="https://facebook.techidaily.com/new-age-wisdom-teens-heeding-the-call-to-unplug-from-instagram/"><u>New Age Wisdom: Teens Heeding the Call to Unplug From Instagram</u></a></li>
<li><a href="https://facebook.techidaily.com/navigating-net-safety-for-personal-photos-at-meta/"><u>Navigating Net Safety for Personal Photos at Meta</u></a></li>
<li><a href="https://facebook.techidaily.com/discovering-facebooks-algorithmic-shift-toward-business-recommendations/"><u>Discovering Facebook's Algorithmic Shift Toward Business Recommendations</u></a></li>
<li><a href="https://facebook.techidaily.com/expanding-revenue-streams-instagrams-new-perks-for-artists/"><u>Expanding Revenue Streams: Instagram's New Perks for Artists</u></a></li>
<li><a href="https://facebook.techidaily.com/block-unsolicited-general-member-postings/"><u>Block Unsolicited General Member Postings</u></a></li>
<li><a href="https://facebook.techidaily.com/echoes-of-anonymity-permanently-retiring-from-facebook/"><u>Echoes of Anonymity: Permanently Retiring From Facebook</u></a></li>
<li><a href="https://facebook.techidaily.com/freedom-from-facebook-your-step-by-step-plan/"><u>Freedom From Facebook: Your Step-by-Step Plan</u></a></li>
<li><a href="https://facebook.techidaily.com/behavior-for-sale-the-economy-exposed/"><u>Behavior for Sale: The Economy Exposed</u></a></li>
<li><a href="https://desktop-recording.techidaily.com/best-practices-for-choosing-top-3ds-pc-emulators/"><u>Best Practices for Choosing Top 3Ds PC Emulators</u></a></li>
<li><a href="https://change-location.techidaily.com/how-to-stop-my-spouse-from-spying-on-my-zte-nubia-z60-ultra-drfone-by-drfone-virtual-android/"><u>How to Stop My Spouse from Spying on My ZTE Nubia Z60 Ultra | Dr.fone</u></a></li>
<li><a href="https://blog-min.techidaily.com/2-ways-to-transfer-text-messages-from-realme-c55-to-iphone-1514131211x8-drfone-by-drfone-transfer-from-android-transfer-from-android/"><u>2 Ways to Transfer Text Messages from Realme C55 to iPhone 15/14/13/12/11/X/8/ | Dr.fone</u></a></li>
<li><a href="https://youtube-webster.techidaily.com/approved-key-youtube-policies-every-channel-owner-must-understand/"><u>2024 Approved  Key YouTube Policies Every Channel Owner Must Understand</u></a></li>
<li><a href="https://video-ai-editor.techidaily.com/updated-2024-approved-top-mac-video-editing-software-options-beyond-pinnacle-studio/"><u>Updated 2024 Approved Top Mac Video Editing Software Options Beyond Pinnacle Studio</u></a></li>
<li><a href="https://extra-approaches.techidaily.com/luminous-color-corrector-kit-for-2024/"><u>Luminous Color Corrector Kit for 2024</u></a></li>
<li><a href="https://android-frp.techidaily.com/how-can-we-bypass-nokia-xr21-frp-by-drfone-android/"><u>How Can We Bypass Nokia XR21 FRP?</u></a></li>
<li><a href="https://sound-optimizing.techidaily.com/updated-melody-match-masters-unveiling-the-hottest-tunes-on-web-platforms/"><u>Updated Melody Match Masters Unveiling the Hottest Tunes on Web Platforms</u></a></li>
<li><a href="https://facebook-videos.techidaily.com/in-2024-elite-8-films-on-facebook/"><u>In 2024, Elite 8 Films on Facebook</u></a></li>
</ul></div>
