---
title: Accrue Badges by Purchasing Meta Verification
date: 2024-08-28T03:02:53.511Z
updated: 2024-08-29T03:02:53.511Z
tags:
  - facebook
categories:
  - meta
  - facebook
description: This Article Describes Accrue Badges by Purchasing Meta Verification
excerpt: This Article Describes Accrue Badges by Purchasing Meta Verification
keywords: Buy MetaVerified Badges,Acquire MetaBadges,Verify Metabadges,Purchase MetaBadge,Get MetaBadge Auth,MetaBadge Purchase Hint,Obtain MetaBadge
thumbnail: https://thmb.techidaily.com/57a65c2b181c750fb6364283d0997e4f78e21ce130fdd9928a29e2fa7b69ddd1.jpg
---

## Accrue Badges by Purchasing Meta Verification

 Taking inspiration from Twitter, Meta has announced plans to introduce a paid subscription that comes with a verification badge. But the initial rollout will be limited to a few countries.

## Zuckerberg Announces Meta Verified Paid Badge

 Meta CEO Mark Zuckerberg announced the new product in posts on his Facebook page and Instagram broadcast channel on 19 February 2023\. This followed earlier reports about a potential new paid verification plan, with screenshots shared by social media consultant Matt Navarra on Twitter.

 A few hours later Zuckerberg confirmed the news. The Meta Verified subscription service will start at $11.99 per month on the web and $14.99 per month on iOS. Rollout will begin in Australia and New Zealand in the coming week.

 Users will verify their accounts using a government ID. In return for that and the subscription fee, they'll get a blue badge, "extra impersonation protection", and direct access to customer support.

 According to Zuckerberg, "This new feature is about increasing authenticity and security across our services."

 In screenshots shared by Navarra, features of Meta Verified on Instagram appear to also include prioritization in comments, recommendations in the Explore feed and Reels tab, and exclusive Story stickers. However, these features were not mentioned in the announcement by Zuckerberg and may arrive at a later date.

 The [new Twitter Blue](https://www.makeuseof.com/what-is-twitter-blue/) , which seems to have inspired this product launch by Meta, has proven controversial for its inclusion of paid-for verification. But this hasn't stopped Meta from following Twitter's lead.

## Paid Blue Badges for Meta Products

 Twitter's paid verification seems to be trend-setting, with Meta following suit with its own subscription-linked blue badge. But we'll have to see if users take it up or reject this type of monetization.


<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>



<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="8358498916"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>







<!-- affiliate ads begin -->
<span id="1993650">
					<video width="720" height="300" style="cursor:pointer"
           poster="//a.impactradius-go.com/display-clicktoplayimage/1993650.jpeg"
           onclick="if(!this.playClicked){this.play();this.setAttribute('controls',true);this.playClicked=true;}">
	   <source src="//a.impactradius-go.com/display-ad/22993-1993650">
	   <img src="//a.impactradius-go.com/display-clicktoplayimage/1993650.jpeg" style="border: none; height: 100%; width: 100%; object-fit: contain">
	</video>
	<div style="width:720px;text-align:center"><a href="javascript:window.open(decodeURIComponent('https%3A%2F%2Fhomestyler.sjv.io%2Fc%2F5597632%2F1993650%2F22993'), '_blank');void(0);">Click here</a></div>
</span>
<img height="0" width="0" src="https://imp.pxf.io/i/5597632/1993650/22993" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->