---
title: Digital Decision Makers' Guide to Health Fact Verification
date: 2025-01-14T16:13:13.135Z
updated: 2025-01-18T16:07:54.686Z
tags:
  - facebook
categories:
  - meta
  - facebook
description: This Article Describes Digital Decision Makers' Guide to Health Fact Verification
excerpt: This Article Describes Digital Decision Makers' Guide to Health Fact Verification
keywords: Health Fact Checking,Digital Decision Making,Guided Health Verification,Health Information Analysis,Truth in Health Data,Online Health Authenticity,Decisions Based on Facts
thumbnail: https://thmb.techidaily.com/4fad5dfb068fa17bd11d3278f05324268f19f0e4e3fba2cd6b2af2a6f5ad615e.jpg
---

## Digital Decision Makers' Guide to Health Fact Verification

 COVID-19 has taken the world by storm. And being the first pandemic our generation has lived through, it has brought much confusion and misinformation.

 Since talks of a COVID-19 vaccine started coming up, so too have numerous myths and false information surrounding it. And with conversations on social media spreading like wildfire through real people's accounts, it can be difficult to tell the difference between facts and fiction.

Here's what social media platforms can do to tackle the issue.

## The Spread of COVID-19 and Vaccine Misinformation on Social Media

 Social media is an extension of our lives, so information shared online can spread like wildfire. When COVID-related misinformation is circulated, it creates uncertainty, skepticism and distrust, which can lead to people rejecting proven public health measures.

 This becomes easier when the public is not well-informed about COVID-19 and vaccines, and has a lack of trust in authoritative sources, such as the government, scientists and healthcare professionals.

 In June 2020, BBC News reported that social media companies were[not doing enough to curb the spread of false news](https://www.bbc.co.uk/news/technology-52903680) relating to COVID-19 and the COVID-19 vaccine.

[Facebook](https://about.fb.com/news/2021/02/reaching-billions-of-people-with-covid-19-vaccine-information/) has since released a statement claiming to take action against this by sharing and promoting authoritative information about COVID-19 vaccines, as well as combating misinformation by removing false claims on the topic.

 In a report released in March 2021, the[Center for Countering Digital Hate](https://252f2edd-1c8b-49f5-9bb2-cb57bb47e4ba.filesusr.com/ugd/f4d9b9%5Fb7cedc0553604720b7137f8663366ee5.pdf) found that of the anti-vaccine content that had been circulated on Facebook and Twitter more than 812,000 times between February 1 and March 16, 2021, 65 percent came from just 12 accounts.

 Read more:[Report Finds That Most COVID-19 Misinformation Was Spread by These 12 Influencers](https://www.makeuseof.com/study-covid-misinformation-spread-by-influencers/)

 These include prominent public figures such as Children's Health Defense Chairman Robert F. Kennedy Jr. and the entrepreneur Joseph Mercola.

## What Social Media Companies Are Doing to Combat the Spread of COVID-19 Misinformation

![covid-19 misinformation on social media](https://static1.makeuseofimages.com/wordpress/wp-content/uploads/2021/06/covid-social-media-1.png)

<!-- affiliate ads begin -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/qfCSLAhd4FY?si=CUBztmilaeAwl1lw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<!-- affiliate ads end -->

![covid-19 misinformation on social media](https://static1.makeuseofimages.com/wordpress/wp-content/uploads/2021/06/covid-social-media-2.png)

<!-- affiliate ads begin -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/vEYkX2NJgZw?si=IaHqlqJcYipwUOht" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<!-- affiliate ads end -->

Close

 Social media companies have employed various initiatives to combat the spread of COVID-19 misinformation. That's why you'll see a lot of pandemic-related information as you open your social media apps or scroll through your feed.

 The home section of the YouTube app, for instance, features a post on COVID-19 from the World Health Organization. When you click on**Learn More** , it takes you to a resource center which includes myths, advice and Q&As.

YouTube also removes videos that violate its COVID-19 policy.

 When you search the COVID-19 hashtag or topic on Twitter, at the top you'll find a resource portal and options to find out more about COVID-19 and vaccine-related information in your country.

 You might spot a warning under posts with misleading COVID-19 information, too. Any tweet from a user promoting 5G conspiracy theories has a blue exclamation mark with a message from Twitter on getting the facts about COVID-19 and links to[a story debunking the claim](https://twitter.com/i/events/1246086575043178496) .

 Facebook has banned more than a billion fake accounts, taken down 12 million posts that spread misinformation about COVID-19 vaccines, and says it has hired fact-checkers around the world.

 Read more: [Is Facebook Doing Enough to Tackle Misinformation?](https://www.makeuseof.com/is-facebook-doing-enough-misinformation/)

## How Social Media Companies Can Protect Users From Harmful Misinformation

 In addition to removing repeat offenders, social media platforms can take the following steps toward decreasing the spread of misinformation online.

<!-- affiliate ads begin -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/mK1lEBRm_1w?si=FSaM0OKO0XBCgjtT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<!-- affiliate ads end -->

### 1\. Tap Into Celebrities and Religious and Community Leaders

 Many people distrust figures of authority, such as the government. Social media companies can partner with celebrities and religious and community leaders to post videos presenting factual and myth-busting information online.

 They can also share their personal experiences around getting vaccinated.

### 2\. Establish Shared Online Standards Across Social Media Platforms

 Social media platforms have algorithms to detect fake news. However, they can take it a step further by establishing a shared online standard of conduct regarding the treatment of fake news.

### 3\. Establish a Clear Threshold for Enforcement Action

 A low threshold, such as two strikes, would allow for moderate enforcement prior to removal—such as the restriction of a page’s ability to go live or post video content without moderated review.

 This would still allow the user to exercise their right to free speech while being moderated for the type of information they upload.

### 4\. Display Corrective Posts to Users Exposed to Disinformation

 Social media platforms can show users who have been exposed to content in violation of the COVID-19 policy corrective posts from experts and trusted sources.

<!-- affiliate ads begin -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/iOVkXoUxLf4?si=QfC18T2cb5OkiaXo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<!-- affiliate ads end -->

### 5\. Add Warning Screens When Users Click Links to Misinformation Sites

 Companies should consider adding a warning screen in front of third-party websites or untrustworthy sources housing COVID-19-related misinformation.

 Related: [The Best Fact-Checking Sites for Finding Unbiased Truth](https://www.makeuseof.com/tag/true-5-factchecking-websites/)

<!-- affiliate ads begin -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/fm0XhU5H8R4?si=cFPk6XK3X3CQSI7Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<!-- affiliate ads end -->

### 6\. Ban Private and Secret Anti-Vaccine Facebook Groups

 Ban private groups that traffic primarily in vaccine disinformation and prevent groups that require a Facebook disclaimer from existing as private or secret groups, as anti-vaxxers rely on the privacy of these groups to spread dangerous anti-vaccine misinformation.

## Social Media Companies Play a Key Role in Reducing COVID-19 Related Misinformation Online

 As the COVID-19 pandemic has highlighted, the role played by social media in the spread of misinformation can have serious social and public health consequences. Mass vaccination remains the most likely successful strategy to achieve long-term control of the pandemic.

 In order to improve COVID-19 awareness and vaccine uptake, social media companies have a key role to play in ensuring that the correct information is presented to users on its platforms, while tackling misinformation.

<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>

<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="8358498916"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>

<span class="atpl-alsoreadstyle">Also read:</span>
<div><ul>
<li><a href="https://youtube-lab.techidaily.com/ed-building-an-online-empire-ramp-up-video-views/"><u>[Updated] Building an Online Empire Ramp Up Video Views</u></a></li>
<li><a href="https://extra-hints.techidaily.com/updated-crafting-perfect-srt-output-with-premiere-pro/"><u>[Updated] Crafting Perfect SRT Output with Premiere Pro</u></a></li>
<li><a href="https://youtube-data.techidaily.com/ed-step-by-step-methodology-assembling-youtube-playlists-for-2024/"><u>[Updated] Step-by-Step Methodology Assembling YouTube Playlists for 2024</u></a></li>
<li><a href="https://discover-exclusive.techidaily.com/boost-your-cpu-performance-effective-strategies-from-yl-computings-experts/"><u>Boost Your CPU Performance: Effective Strategies From YL Computing's Experts</u></a></li>
<li><a href="https://win-awesome.techidaily.com/conversion-libre-de-wav-a-wmv-sur-internet-avec-movavi-guide-detaille-et-facile-dutilisation/"><u>Conversion Libre De WAV À WMV Sur Internet Avec Movavi – Guide Détaillé Et Facile D'utilisation</u></a></li>
<li><a href="https://facebook.techidaily.com/facebooks-move-to-unlock-oculus-go-root-access-explained/"><u>Facebook's Move to Unlock Oculus Go Root Access Explained</u></a></li>
<li><a href="https://facebook.techidaily.com/fixing-unexpected-facespace-lockouts-a-step-by-step-guide/"><u>Fixing Unexpected Facespace Lockouts: A Step-by-Step Guide</u></a></li>
<li><a href="https://sound-issues.techidaily.com/how-to-install-idt-high-definition-audio-codec-on-windows-10-solved/"><u>How to Install IDT High Definition Audio Codec on Windows 10 - Solved</u></a></li>
<li><a href="https://extra-hints.techidaily.com/meme-world-for-iphone-enthusiasts/"><u>Meme World for iPhone Enthusiasts</u></a></li>
<li><a href="https://facebook.techidaily.com/navigating-the-nuances-of-facebooks-revamped-privacy-center/"><u>Navigating the Nuances of Facebook’s Revamped Privacy Center</u></a></li>
<li><a href="https://facebook.techidaily.com/strategic-social-media-friend-management-on-facebook/"><u>Strategic Social Media Friend Management on Facebook</u></a></li>
<li><a href="https://facebook.techidaily.com/techs-clash-of-titans-top-six/"><u>Tech's Clash of Titans: Top Six</u></a></li>
<li><a href="https://techno-recovery.techidaily.com/the-mechanics-behind-espnpluss-successful-launch-a-deep-dive-into-sports-content-accessibility/"><u>The Mechanics Behind ESPN+'s Successful Launch: A Deep Dive Into Sports Content Accessibility</u></a></li>
<li><a href="https://facebook.techidaily.com/top-insights-into-metas-revised-data-protection-policy/"><u>Top Insights Into Meta’s Revised Data Protection Policy</u></a></li>
<li><a href="https://win-tutorials.techidaily.com/two-proven-methods-for-free-recovery-of-images-from-erased-hard-drives/"><u>Two Proven Methods for Free Recovery of Images From Erased Hard Drives</u></a></li>
</ul></div>

