---
title: Digital Decision Makers' Guide to Health Fact Verification
date: 2024-07-29T07:37:40.940Z
updated: 2024-07-30T07:37:40.940Z
tags:
  - facebook
categories:
  - meta
  - facebook
description: This Article Describes Digital Decision Makers' Guide to Health Fact Verification
excerpt: This Article Describes Digital Decision Makers' Guide to Health Fact Verification
keywords: Health Fact Checking,Digital Decision Making,Guided Health Verification,Health Information Analysis,Truth in Health Data,Online Health Authenticity,Decisions Based on Facts
thumbnail: https://thmb.techidaily.com/4fad5dfb068fa17bd11d3278f05324268f19f0e4e3fba2cd6b2af2a6f5ad615e.jpg
---

## Digital Decision Makers' Guide to Health Fact Verification

 COVID-19 has taken the world by storm. And being the first pandemic our generation has lived through, it has brought much confusion and misinformation.

 Since talks of a COVID-19 vaccine started coming up, so too have numerous myths and false information surrounding it. And with conversations on social media spreading like wildfire through real people's accounts, it can be difficult to tell the difference between facts and fiction.

Here's what social media platforms can do to tackle the issue.

<!-- affiliate ads begin -->
<a href="https://ursime.pxf.io/c/5597632/2048972/16384" target="_top" id="2048972"><img src="//a.impactradius-go.com/display-ad/16384-2048972" border="0" alt="" width="1200" height="900"/></a><img height="0" width="0" src="https://imp.pxf.io/i/5597632/2048972/16384" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
## The Spread of COVID-19 and Vaccine Misinformation on Social Media

 Social media is an extension of our lives, so information shared online can spread like wildfire. When COVID-related misinformation is circulated, it creates uncertainty, skepticism and distrust, which can lead to people rejecting proven public health measures.

 This becomes easier when the public is not well-informed about COVID-19 and vaccines, and has a lack of trust in authoritative sources, such as the government, scientists and healthcare professionals.

 In June 2020, BBC News reported that social media companies were[not doing enough to curb the spread of false news](https://www.bbc.co.uk/news/technology-52903680) relating to COVID-19 and the COVID-19 vaccine.

[Facebook](https://about.fb.com/news/2021/02/reaching-billions-of-people-with-covid-19-vaccine-information/) has since released a statement claiming to take action against this by sharing and promoting authoritative information about COVID-19 vaccines, as well as combating misinformation by removing false claims on the topic.

 In a report released in March 2021, the[Center for Countering Digital Hate](https://252f2edd-1c8b-49f5-9bb2-cb57bb47e4ba.filesusr.com/ugd/f4d9b9%5Fb7cedc0553604720b7137f8663366ee5.pdf) found that of the anti-vaccine content that had been circulated on Facebook and Twitter more than 812,000 times between February 1 and March 16, 2021, 65 percent came from just 12 accounts.

 Read more:[Report Finds That Most COVID-19 Misinformation Was Spread by These 12 Influencers](https://www.makeuseof.com/study-covid-misinformation-spread-by-influencers/)

 These include prominent public figures such as Children's Health Defense Chairman Robert F. Kennedy Jr. and the entrepreneur Joseph Mercola.

## What Social Media Companies Are Doing to Combat the Spread of COVID-19 Misinformation

<!-- affiliate ads begin -->
<a href="https://ship7com.pxf.io/c/5597632/1509856/17634" target="_top" id="1509856"><img src="//a.impactradius-go.com/display-ad/17634-1509856" border="0" alt="" width="730" height="383"/></a>
<!-- affiliate ads end -->
![covid-19 misinformation on social media](https://static1.makeuseofimages.com/wordpress/wp-content/uploads/2021/06/covid-social-media-1.png)

![covid-19 misinformation on social media](https://static1.makeuseofimages.com/wordpress/wp-content/uploads/2021/06/covid-social-media-2.png)

Close

 Social media companies have employed various initiatives to combat the spread of COVID-19 misinformation. That's why you'll see a lot of pandemic-related information as you open your social media apps or scroll through your feed.

 The home section of the YouTube app, for instance, features a post on COVID-19 from the World Health Organization. When you click on**Learn More** , it takes you to a resource center which includes myths, advice and Q&As.

YouTube also removes videos that violate its COVID-19 policy.

 When you search the COVID-19 hashtag or topic on Twitter, at the top you'll find a resource portal and options to find out more about COVID-19 and vaccine-related information in your country.

 You might spot a warning under posts with misleading COVID-19 information, too. Any tweet from a user promoting 5G conspiracy theories has a blue exclamation mark with a message from Twitter on getting the facts about COVID-19 and links to[a story debunking the claim](https://twitter.com/i/events/1246086575043178496) .

 Facebook has banned more than a billion fake accounts, taken down 12 million posts that spread misinformation about COVID-19 vaccines, and says it has hired fact-checkers around the world.

 Read more: [Is Facebook Doing Enough to Tackle Misinformation?](https://www.makeuseof.com/is-facebook-doing-enough-misinformation/)

<!-- affiliate ads begin -->
<a href="https://secure.2checkout.com/order/checkout.php?PRODS=3727260&QTY=1&AFFILIATE=108875&CART=1"><img src="http://www.aiseesoft.com/avangate/30p/banner.jpg" border="0"></a>
<!-- affiliate ads end -->
## How Social Media Companies Can Protect Users From Harmful Misinformation

 In addition to removing repeat offenders, social media platforms can take the following steps toward decreasing the spread of misinformation online.

### 1\. Tap Into Celebrities and Religious and Community Leaders

 Many people distrust figures of authority, such as the government. Social media companies can partner with celebrities and religious and community leaders to post videos presenting factual and myth-busting information online.

 They can also share their personal experiences around getting vaccinated.

<!-- affiliate ads begin -->
<a href="https://estore.winxdvd.com/order/checkout.php?PRODS=12653853&QTY=1&AFFILIATE=108875&CART=1"><img src="https://secure.avangate.com/images/merchant/bcb41ccdc4363c6848a1d760f26c28a0/products/14_videoproc-converter-ai-box.png" border="0"></a>
<!-- affiliate ads end -->
### 2\. Establish Shared Online Standards Across Social Media Platforms

 Social media platforms have algorithms to detect fake news. However, they can take it a step further by establishing a shared online standard of conduct regarding the treatment of fake news.

### 3\. Establish a Clear Threshold for Enforcement Action

 A low threshold, such as two strikes, would allow for moderate enforcement prior to removal—such as the restriction of a page’s ability to go live or post video content without moderated review.

 This would still allow the user to exercise their right to free speech while being moderated for the type of information they upload.

<!-- affiliate ads begin -->
<a href="https://shop.mondly.com/affiliate.php?ACCOUNT=ATISTUDI&AFFILIATE=108875&PATH=https%3A%2F%2Fwww.mondly.com%3FAFFILIATE%3D108875%26RESOURCE%3D%2BEducational%2B300x600%2B"><img src="https://secure.avangate.com/images/merchant/69c418c33ec2e1a4267fa9bb77fa1428/educational-300x600.gif" border="0"></a>
<!-- affiliate ads end -->
### 4\. Display Corrective Posts to Users Exposed to Disinformation

 Social media platforms can show users who have been exposed to content in violation of the COVID-19 policy corrective posts from experts and trusted sources.

### 5\. Add Warning Screens When Users Click Links to Misinformation Sites

 Companies should consider adding a warning screen in front of third-party websites or untrustworthy sources housing COVID-19-related misinformation.

 Related: [The Best Fact-Checking Sites for Finding Unbiased Truth](https://www.makeuseof.com/tag/true-5-factchecking-websites/)

### 6\. Ban Private and Secret Anti-Vaccine Facebook Groups

 Ban private groups that traffic primarily in vaccine disinformation and prevent groups that require a Facebook disclaimer from existing as private or secret groups, as anti-vaxxers rely on the privacy of these groups to spread dangerous anti-vaccine misinformation.

<!-- affiliate ads begin -->
<a href="https://ancheer.sjv.io/c/5597632/1657301/17326" target="_top" id="1657301"><img src="//a.impactradius-go.com/display-ad/17326-1657301" border="0" alt="" width="1920" height="933"/></a><img height="0" width="0" src="https://imp.pxf.io/i/5597632/1657301/17326" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
## Social Media Companies Play a Key Role in Reducing COVID-19 Related Misinformation Online

 As the COVID-19 pandemic has highlighted, the role played by social media in the spread of misinformation can have serious social and public health consequences. Mass vaccination remains the most likely successful strategy to achieve long-term control of the pandemic.

 In order to improve COVID-19 awareness and vaccine uptake, social media companies have a key role to play in ensuring that the correct information is presented to users on its platforms, while tackling misinformation.


<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>



<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="8358498916"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>

<span class="atpl-alsoreadstyle">Also read:</span>
<div><ul>
<li><a href="https://digital-screen-recording.techidaily.com/updated-2024-approved-complete-breakdown-enhancing-your-experience-with-advanced-mobizen-techniques/"><u>[Updated] 2024 Approved  Complete Breakdown  Enhancing Your Experience with Advanced Mobizen Techniques</u></a></li>
<li><a href="https://facebook-video-share.techidaily.com/updated-how-to-safely-capture-your-favorite-youtube-audio-for-free/"><u>[Updated] How to Safely Capture Your Favorite YouTube Audio for Free</u></a></li>
<li><a href="https://twitter-clips.techidaily.com/updated-in-2024-taking-twitter-videos-from-regular-to-high-definition/"><u>[Updated] In 2024, Taking Twitter Videos From Regular to High-Definition</u></a></li>
<li><a href="https://discord-videos.techidaily.com/updated-in-2024-the-beginners-path-to-becoming-a-discord-live-stream-guru/"><u>[Updated] In 2024, The Beginner's Path to Becoming a Discord Live Stream Guru</u></a></li>
<li><a href="https://video-screen-grab.techidaily.com/updated-in-2024-the-experts-resource-advanced-screen-capture-techniques-by-zd/"><u>[Updated] In 2024, The Expert's Resource  Advanced Screen Capture Techniques by ZD</u></a></li>
<li><a href="https://fox-http.techidaily.com/updated-mastering-spotifys-ad-landscape-a-comprehensive-guide-for-2024/"><u>[Updated] Mastering Spotify's Ad Landscape  A Comprehensive Guide for 2024</u></a></li>
<li><a href="https://fox-friendly.techidaily.com/2024-approved-how-to-use-virtual-reality-tours/"><u>2024 Approved  How to Use Virtual Reality Tours</u></a></li>
<li><a href="https://vp-tips.techidaily.com/2024-approved-innovative-methods-building-time-lapses-on-galaxy-devices/"><u>2024 Approved  Innovative Methods  Building Time-Lapses on Galaxy Devices</u></a></li>
<li><a href="https://facebook.techidaily.com/8-features-of-workplace-from-facebook-for-collaborative-project-management/"><u>8 Features of Workplace From Facebook for Collaborative Project Management</u></a></li>
<li><a href="https://facebook.techidaily.com/a-detailed-look-at-facebooks-help-solutions/"><u>A Detailed Look at Facebook's Help Solutions</u></a></li>
<li><a href="https://facebook.techidaily.com/a-step-by-step-framework-to-document-all-online-engagements/"><u>A Step-by-Step Framework to Document All Online Engagements</u></a></li>
<li><a href="https://facebook.techidaily.com/a-step-by-step-guide-to-changing-your-online-profile-password/"><u>A Step-by-Step Guide to Changing Your Online Profile Password</u></a></li>
<li><a href="https://facebook.techidaily.com/beware-the-web-discerning-social-media-pitfalls/"><u>Beware the Web: Discerning Social Media Pitfalls</u></a></li>
<li><a href="https://instagram-video-recordings.techidaily.com/beyond-the-lens-the-complete-selfie-confirmation-on-ig/"><u>Beyond the Lens  The Complete Selfie Confirmation on IG</u></a></li>
<li><a href="https://facebook.techidaily.com/chat-ghoster-detector-lost-screen-captures-on-messenger/"><u>Chat Ghoster Detector: Lost Screen Captures on Messenger</u></a></li>
<li><a href="https://facebook.techidaily.com/constructing-a-secure-social-media-network/"><u>Constructing a Secure Social Media Network</u></a></li>
<li><a href="https://facebook.techidaily.com/decoding-metas-blueprint-for-worldwide-ai-dominance/"><u>Decoding Meta's Blueprint for Worldwide AI Dominance</u></a></li>
<li><a href="https://ios-pokemon-go.techidaily.com/detailed-guide-of-ispoofer-for-pogo-installation-on-apple-iphone-7-plus-drfone-by-drfone-virtual-ios/"><u>Detailed guide of ispoofer for pogo installation On Apple iPhone 7 Plus | Dr.fone</u></a></li>
<li><a href="https://facebook.techidaily.com/discovering-the-operation-principles-behind-photodna/"><u>Discovering the Operation Principles Behind PhotoDNA</u></a></li>
<li><a href="https://facebook.techidaily.com/dissecting-the-amazon-lawsuit-against-facebook-group-admins/"><u>Dissecting the Amazon Lawsuit Against Facebook Group Admins</u></a></li>
<li><a href="https://digital-screen-recording.techidaily.com/explore-the-best-free-online-video-capture-platforms/"><u>Explore the Best Free Online Video Capture Platforms</u></a></li>
<li><a href="https://facebook.techidaily.com/exploring-the-depths-of-digital-bonds-in-fb-history/"><u>Exploring the Depths of Digital Bonds in FB History</u></a></li>
<li><a href="https://facebook.techidaily.com/facebooks-evolutionary-impact-on-society/"><u>Facebook's Evolutionary Impact on Society</u></a></li>
<li><a href="https://facebook.techidaily.com/fb-embracing-100-clean-renewable-energy/"><u>FB Embracing 100%% Clean, Renewable Energy</u></a></li>
<li><a href="https://pokemon-go-android.techidaily.com/how-can-i-get-more-stardust-in-pokemon-go-on-realme-note-50-drfone-by-drfone-virtual-android/"><u>How can I get more stardust in pokemon go On Realme Note 50? | Dr.fone</u></a></li>
<li><a href="https://facebook.techidaily.com/how-to-clear-social-media-chatter-deleting-comments-effortlessly/"><u>How to Clear Social Media Chatter: Deleting Comments Effortlessly</u></a></li>
<li><a href="https://blog-min.techidaily.com/how-to-remove-lava-blaze-2-pin-by-drfone-android-unlock-android-unlock/"><u>How to remove Lava Blaze 2 PIN</u></a></li>
<li><a href="https://review-topics.techidaily.com/how-to-transfer-whatsapp-from-iphone-12-pro-max-to-other-iphone-12-devices-drfone-by-drfone-transfer-whatsapp-from-ios-transfer-whatsapp-from-ios/"><u>How To Transfer WhatsApp From iPhone 12 Pro Max to other iPhone 12 devices? | Dr.fone</u></a></li>
<li><a href="https://facebook.techidaily.com/imposter-in-the-network-social-scam-alert/"><u>Imposter in the Network: Social Scam Alert</u></a></li>
<li><a href="https://android-transfer.techidaily.com/in-2024-how-to-transfer-apps-from-honor-100-pro-to-another-drfone-by-drfone-transfer-from-android-transfer-from-android/"><u>In 2024, How to Transfer Apps from Honor 100 Pro to Another | Dr.fone</u></a></li>
<li><a href="https://ios-unlock.techidaily.com/in-2024-how-to-unlock-apple-iphone-x-without-passcode-or-face-id-by-drfone-ios/"><u>In 2024, How to Unlock Apple iPhone X without Passcode or Face ID</u></a></li>
<li><a href="https://extra-skills.techidaily.com/in-2024-next-gen-ai-for-professional-visual-editing/"><u>In 2024, Next Gen AI for Professional Visual Editing</u></a></li>
<li><a href="https://facebook.techidaily.com/influencers-and-the-wave-of-covid-misguidance/"><u>Influencers and the Wave of Covid Misguidance</u></a></li>
<li><a href="https://mondly-stories.techidaily.com/linguistic-journeys-and-brain-enhancements/"><u>Linguistic Journeys and Brain Enhancements</u></a></li>
<li><a href="https://facebook.techidaily.com/mastering-the-art-of-engaging-with-your-fb-audience/"><u>Mastering the Art of Engaging with Your FB Audience</u></a></li>
<li><a href="https://extra-hints.techidaily.com/mastering-time-stamps-on-youtube-videos/"><u>Mastering Time Stamps on YouTube Videos</u></a></li>
<li><a href="https://facebook.techidaily.com/reeling-in-social-media-leadership-can-fbs-reels-outshine-tiktok/"><u>Reeling in Social Media Leadership: Can FB's Reels Outshine TikTok?</u></a></li>
<li><a href="https://facebook.techidaily.com/revamp-your-page-personalize-the-url-notify-friends/"><u>Revamp Your Page: Personalize the URL, Notify Friends</u></a></li>
<li><a href="https://facebook.techidaily.com/securing-your-account-facebooks-2fa-step-by-step/"><u>Securing Your Account: Facebook's 2FA Step-by-Step</u></a></li>
<li><a href="https://extra-approaches.techidaily.com/simplified-guide-to-connecting-zoom-and-gmail-services-for-2024/"><u>Simplified Guide to Connecting Zoom and Gmail Services for 2024</u></a></li>
<li><a href="https://facebook.techidaily.com/techniques-for-resolving-stalled-fb-notifications/"><u>Techniques for Resolving Stalled FB Notifications</u></a></li>
<li><a href="https://facebook.techidaily.com/the-essence-of-harmonious-online-communities-rules-and-structure/"><u>The Essence of Harmonious Online Communities: Rules and Structure</u></a></li>
<li><a href="https://facebook.techidaily.com/the-insight-into-vk-russias-social-network-explained/"><u>The Insight Into VK: Russia's Social Network Explained</u></a></li>
<li><a href="https://facebook.techidaily.com/the-quintessential-qanda-5-superior-biz-social-tools/"><u>The Quintessential Q&A: 5 Superior Biz Social Tools</u></a></li>
<li><a href="https://facebook.techidaily.com/the-subtle-art-of-digital-etiquette-in-connection-requests/"><u>The Subtle Art of Digital Etiquette in Connection Requests</u></a></li>
<li><a href="https://facebook.techidaily.com/turning-away-from-app-trackers-iphones-lead/"><u>Turning Away From App Trackers, iPhones Lead</u></a></li>
<li><a href="https://facebook.techidaily.com/uk-soccer-squads-banish-instagram-and-twitter-to-counteract-hate-speech/"><u>UK Soccer Squads Banish Instagram & Twitter to Counteract Hate Speech</u></a></li>
</ul></div>
