---
title: "Tracing Tech: From VPN to Verification"
date: 2024-08-28T03:14:35.146Z
updated: 2024-08-29T03:14:35.146Z
tags:
  - facebook
categories:
  - meta
  - facebook
description: "This Article Describes Tracing Tech: From VPN to Verification"
excerpt: "This Article Describes Tracing Tech: From VPN to Verification"
keywords: VPN Basics,Network Privacy,Digital Traceability,Identity Security,Cyber Verification,Tech Anonymity,Online Authentication
thumbnail: https://thmb.techidaily.com/25dfc703be5473423edfc66113d30469d26da4408f6261979d298982619597ae.jpg
---

## Tracing Tech: From VPN to Verification

 Our podcast this week takes a look at new announcements from Mark Zuckerberg concerning verification on Instagram and Facebook, and considers how VPNs have evolved over the past decade. PLUS: How to connect an Android phone to your TV and watch anything.

 You can subscribe to the Really Useful Podcast on[Apple Podcasts](https://podcasts.apple.com/gb/podcast/the-really-useful-podcast/id1437847131?mt=2) ,[Spotify](https://open.spotify.com/show/283gDxLd6OTNEpRq6tN7ha) ,[Google Podcasts](https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8zMWJlNDcwL3BvZGNhc3QvcnNz) ,[Amazon Music and Audible](https://music.amazon.co.uk/podcasts/20ab73d4-5da2-46c7-a17f-dc6eb39bdb48/The-Really-Useful-Podcast) ,[Player FM](https://player.fm/series/the-really-useful-podcast-2491856) , or copy the[RSS feed](https://feeds.transistor.fm/the-really-useful-podcast) into your podcast player.

## Shownotes

This week, we chat about the following tech news that matters:

* [Samsung to Revive Fan Edition Phones with Galaxy S23 FE](https://www.makeuseof.com/galaxy-s23-fe-launch-august-september/)  
  * [Oppo Reno8 Pro 5G Review](https://www.makeuseof.com/oppo-reno8-pro-review/)
* [Instagram Launches Broadcast Channels](https://www.makeuseof.com/instagram-introduces-broadcast-channels/)
* [Meta Plans Paid Verification Badge for Facebook and Instagram](https://www.makeuseof.com/meta-plans-paid-verification-badge-for-users/)

We've got these explainers:

* [How VPNs Have Evolved](https://www.makeuseof.com/vpn-evolution-ways-vpns-have-become-even-more-private/)
* [How to Connect an Android Phone to a TV](https://www.makeuseof.com/tag/droid-meets-hdmi-how-and-why-to-connect-your-android-phone-to-your-tv/)

 Christian Cawley hosts this week's podcast, and is joined by Ben Stegner. You can contact them on Twitter:[@thegadgetmonkey](https://twitter.com/thegadgetmonkey) and[@stegnersaurus](https://twitter.com/stegnersaurus) , with your suggestions for future topics.


<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>



<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="8358498916"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>



<!-- affiliate ads begin -->
<a href="https://secure.2checkout.com/order/checkout.php?PRODS=4599952&QTY=1&AFFILIATE=108875&CART=1"><iframe width="864" height="500" src="https://www.youtube.com/embed/jVnfr5HudQw" title="The Latest and Easiest Solution to Remove Kindle DRM on Windows (without Degrading)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>Epubor Ultimate for Mac:Helps you read books anywhere, including the best eBook Converter + eBook DRM Removal functions.</a>
<!-- affiliate ads end -->